#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 2rem;
}

footer {
  background: #9cbff3;
  color: white;
  padding: 1rem;
  text-align: center;
}

.pet-cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Ensure three cards per row */
  gap: 20px;
  justify-content: center;
  margin: 0 auto;
}

.pet-card-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically */
}

.pet-card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  text-align: center;
}

.pet-card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
}

.filter-bar {
  margin-bottom: 20px;
}

.filter-bar select {
  margin-left: 10px;
}

.selected-pet-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Ensure three columns */
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.selected-pet {
  grid-column: 1 / 2; /* Place in the left column */
}

.adoption-form {
  grid-column: 2 / 3; /* Place in the center column */
}

button {
  margin-bottom: 20px;
}
