  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #000000;
    height: 60px; /* Ensure consistent height */
  }

  .nav-logo {
  padding-top: 5px; /* Adjust this value to move the logo down */
}

  
  .nav-logo a {
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  .nav-links {
    display: flex;
    align-items: center; /* Vertical centering for nav items */
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%; /* Stretch nav links to match navbar height */
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
  
  .nav-links a:hover {
    color: rgb(236, 193, 158);
  }
  